<!DOCTYPE html>
<html>

<head>
  <% if content_for?(:title) %>
    <%= content_for(:title) %>
  <% else %>
    <title>Click</title>
  <% end %>
  <%= stylesheet_link_tag "application",:media => "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <%=link_to(image_tag("/images/click_logo2.png", :style => "max-height:30px;"), root_path, {:class=>"navbar-brand", :style=>"padding:10px 15px;"})%>  
        </div>
        <% if current_user %>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.email%><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <%=link_to("My Music", favorites_users_path)%>  
                  </li>
                <li class="divider"></li>
                  <li>
                    <%=link_to("Sign-out", destroy_user_session_path)%>  
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        <% end %>
      </div>
    </div>


    <div class="container">
      <% if flash[:notice] || flash[:alert] %>
        <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= flash[:notice] %></p>
        </div>
        <% end %>
        <% if flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= flash[:alert] %></p>
        </div>
        <% end %>   
      <% end %>
      <!-- Main component for a primary marketing message or call to action -->
        <%= yield %>

    </div> <!-- /container -->

</body>
</html>